@media(min-width:760px){
	.container{
	width:85%;
	margin:auto;
	overflow: hidden;
	}
}

#main-header{
	background:#33445e;
	color:white;
}

#main-header h2{
	text-align: right;
	font-size:20px;
}

body{
	background: #f4f4f4;
	color:#555;
	font-family: Roboto, Arial, san-serif;
	line-height: 1.6em;
	margin:0;
}

#navbar{
	background: #ccc;
	color:#fff;
}

#navbar ul{
	padding:0;
	list-style:none;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:#000;
	font-size:20px;
	text-decoration: none;
	padding-right:20px;
}

.box1,.box2{
	display:grid;
	grid-template-columns: repeat(6,1fr);
	grid-gap:1em;
}

.box1 > div, .box2 >div{
	padding:1em;
	border:1px solid #ddd;
	width: 150px;
	height:150px;
}