<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BuyNSell | Contact</title>

    <style>
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css" >

  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><img src="./img/logo_62px.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./login">Login/Sign Up</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop by Category
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="category">All</a>
                <a class="dropdown-item" href="category">Clothing</a>
                <a class="dropdown-item" href="category">Electronics</a>
                <a class="dropdown-item" href="category">Furnitures</a>
                <a class="dropdown-item" href="category">Cars</a>
              </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="about">Contact</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>

     <!-- About Us
      ================================================== -->

    <div style="margin-top: 100px"></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>About</h1>
                <div style="margin-top: 30px"></div>
                <p>Our goal is to create a website that allows students from University at Buffalo to buy used items from students who graduated or graduating soon. Instead of throwing away everything, one can sell any used reusable items such as furniture, car, electronics, and etc for new or current students to start their life in Buffalo at a cheaper cost. The core feature of BuyNSell is that the system implements an artificial intelligence as automated products categorizer.</p>
            </div>
            <div class="col-sm-4">
                <img src="../img/aboutLogo.png">
            </div>
        </div><!-- /.row -->
        <hr class="featurette-divider">
    </div><!-- /.container -->

     <!-- Contact Us
      ================================================== -->

    <div style="margin-top: 50px"></div>
    <div class="container">
        <h1>Contact us</h1>
    </div>
      <div style="margin-top: 30px"></div>

      <div class="container">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div style="margin-top: 30px"></div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea class="form-control" rows="3" placeholder="What do you want to tell us?"></textarea>
            <small id="messageHelp" class="form-text text-muted">We appreciate every feedback!</small>
          </div>
          <div style="margin-top: 30px"></div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div style="margin-top: 50px"></div>
        <hr class="featurette-divider">
      </div><!-- /.container -->

      <div style="margin-top: 50px"></div>

      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>BuyNSell &copy; 2019 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./Javascript/bootstrap.min.js"></script>
  </body>
</html>
