<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BuyNSell | Dashboard</title>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css" >

    <!-- Custom styles for this page -->
    <link href="./css/dashboard.css" rel="stylesheet">

    <!-- Custom user panel and product recommendation blocks styles for this page -->
    <link href="./css/user-panel-product-recommend.css" rel="stylesheet">

  <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/"><img src="./img/logo_62px.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop by Category
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="category">All</a>
                <a class="dropdown-item" href="category">Clothing</a>
                <a class="dropdown-item" href="category">Electronics</a>
                <a class="dropdown-item" href="category">Furnitures</a>
                <a class="dropdown-item" href="category">Cars</a>
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about">Contact</a>
            </li>
          </ul>
          <ul class="navbar-nav" id="logOut">
            <li class="nav-item">
                <a class="nav-link" href="/">Log Out</a>
            </li>
          </ul>
        </div>
      </nav>
  </header>

<body>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="./Dashboard">
                <span data-feather="home"></span>
                Dashboard <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#orders">
                <span data-feather="file"></span>
                Orders
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#products">
                <span data-feather="shopping-cart"></span>
                Products
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#customers">
                <span data-feather="users"></span>
                Customers
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#report">
                <span data-feather="bar-chart-2"></span>
                Reports
              </a>
            </li>
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Account settings</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="./accountsettings">
                <span data-feather="file-text"></span>
                My Account
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./accountsettings#help">
                <span data-feather="file-text"></span>
                Help
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

      <!-- Dashboard Bar
      ================================================== -->
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              This week
            </button>
          </div>
        </div>

      <!-- User Panel
      ================================================== -->
        <div class="row">
          <div class="col-4 big-box">
            <div class="mx-4" id="userPanelNoBorder">
              <img class="rounded-circle" src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Generic placeholder image" width="170" height="170">
              <h2>Hi user!</h2>
              </div>
          </div><!-- /.col-4 -->
          <div class="col-8">
            <a href=""><button type="button" class="btn btn-primary">List an item</button></a>
          </div><!-- /. entire col  -->
        </div>

      <!-- Orders
      ================================================== -->
        <h2 id="orders">Orders</h2>
        <hr class="featurette-divider">

        <div class="row" id="ordersProduct">
          <div class="col-md-4">
            <img class="rounded" src="https://www.sephora.com/productimages/sku/s1928464-main-zoom.jpg" width="170" height="170">
          </div>
          <div class="col-md-8 ordersItemDescription">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button type="button" class="btn btn-outline-dark">View</button>
          </div>
        </div>

        <div class="row" id="ordersProduct">
          <div class="col-md-4">
            <img class="rounded" src="https://brain-images-ssl.cdn.dixons.com/1/4/10161441/u_10161441.jpg" width="170" height="170">
          </div>
          <div class="col-md-8 ordersItemDescription">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button type="button" class="btn btn-outline-dark">View</button>
          </div>
        </div>

        <div class="row" id="ordersProduct">
          <div class="col-md-4">
            <img class="rounded" src="https://images-na.ssl-images-amazon.com/images/I/41Araxi2mwL._SX342_.jpg" width="170" height="170">
          </div>
          <div class="col-md-8 ordersItemDescription">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button type="button" class="btn btn-outline-dark">View</button>
          </div>
        </div>

        <div class="row" id="ordersProduct">
          <div class="col-md-4">
            <img class="rounded" src="https://images-na.ssl-images-amazon.com/images/I/41FYAMRN6TL._SX331_BO1,204,203,200_.jpg" width="120" height="170">
          </div>
          <div class="col-md-8 ordersItemDescription">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button type="button" class="btn btn-outline-dark">View</button>
          </div>
        </div>

      <!-- Products
      ================================================== -->
        <h2 id="products">Products</h2>
        <hr class="featurette-divider">

        <div class="row" id="ordersProduct">
          <div class="col-md-4">
            <img class="rounded" src="https://cdn.shopify.com/s/files/1/1934/2211/products/VS150X-2048x2048-1_2048x2048.jpg?v=1494474448" width="170" height="170">
          </div>
          <div class="col-md-8 ordersItemDescription">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button type="button" class="btn btn-outline-dark">View</button>
          </div>
        </div>

        <div class="row" id="ordersProduct">
          <div class="col-md-4">
            <img class="rounded" src="https://images.homedepot-static.com/productImages/967ebf56-03e4-48c3-90ea-43875341a53d/svn/rhodes-bronze-hampton-bay-table-lamps-hd09999tlbrzc-64_1000.jpg" width="170" height="170">
          </div>
          <div class="col-md-8 ordersItemDescription">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button type="button" class="btn btn-outline-dark">View</button>
          </div>
        </div>

        <div class="row" id="ordersProduct">
          <div class="col-md-4">
            <img class="rounded" src="https://cdn.shopify.com/s/files/1/2081/7373/products/3615_1500x.png.jpg?v=1541691772" width="170" height="170">
          </div>
          <div class="col-md-8 ordersItemDescription">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button type="button" class="btn btn-outline-dark">View</button>
          </div>
        </div>

        <div class="row" id="ordersProduct">
          <div class="col-md-4">
            <img class="rounded" src="https://www.dhresource.com/0x0s/f2-albu-g5-M01-1D-A9-rBVaJFmIIuGAKtuMAAD1sASJKbA957.jpg/for-iphone-8-7-cover-crystal-gel-case-ultra.jpg" width="170" height="170">
          </div>
          <div class="col-md-8 ordersItemDescription">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button type="button" class="btn btn-outline-dark">View</button>
          </div>
        </div>

        <!-- Customers
      ================================================== -->
        <h2 id="customers">Customers</h2>
        <hr class="featurette-divider">

        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Email</th>
              <th scope="col">Purchased</th>
              <th scope="col">Contact</th>                
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>markotto87@buffalo.edu</td>
              <a href=""><td>Panasonic Electrical Shaver</td></a>
              <td><button type="button" class="btn btn-sm btn-primary">Send Email</button></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>jacob.635T@buffalo.edu</td>
              <a href=""><td>Panasonic Electrical Shaver</td></a>
              <td><button type="button" class="btn btn-sm btn-primary">Send Email</button></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>LarrytheB1rd@buffalo.edu</td>
              <a href=""><td>Batteries * 10 AA Pack</td></a>
              <td><button type="button" class="btn btn-sm btn-primary">Send Email</button></td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Chester</td>
              <td>the Greatest</td>
              <td>linkinChester@buffalo.edu</td>
              <a href=""><td>Batteries * 10 AA Pack</td></a>
              <td><button type="button" class="btn btn-sm btn-primary">Send Email</button></td>
            </tr>
          </tbody>
        </table>

      <!-- Report
      ================================================== -->
        <h2 id="report">Report</h2>
        <hr class="featurette-divider">

        <p>"Dynamic report goes here"</p>

     <hr class="featurette-divider">

      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>BuyNSell &copy; 2019 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

      </main>
    </div>
  </div>
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./Javascript/bootstrap.min.js"></script>
</body>
</html>
