<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BuyNSell | Change Password</title>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css" >

    <!-- Custom styles for this page -->
    <link href="./css/dashboard.css" rel="stylesheet">

  <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/"><img src="./img/logo_62px.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop by Category
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="category">All</a>
                <a class="dropdown-item" href="category">Clothing</a>
                <a class="dropdown-item" href="category">Electronics</a>
                <a class="dropdown-item" href="category">Furnitures</a>
                <a class="dropdown-item" href="category">Cars</a>
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about">Contact</a>
            </li>
          </ul>
          <ul class="navbar-nav" id="logOut">
            <li class="nav-item">
                <a class="nav-link" href="logout">Log Out</a>
            </li>
          </ul>
        </div>
      </nav>
  </header>

<body>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="./Dashboard">
                <span data-feather="home"></span>
                Dashboard <span class="sr-only"></span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./Dashboard#orders">
                <span data-feather="file"></span>
                Orders
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./Dashboard#products">
                <span data-feather="shopping-cart"></span>
                Products
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./Dashboard#customers">
                <span data-feather="users"></span>
                Customers
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./Dashboard#report">
                <span data-feather="bar-chart-2"></span>
                Reports
              </a>
            </li>
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Account settings</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link active" href="./accountsettings">
                <span data-feather="home"></span>
                My Account
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./accountsettings#help">
                <span data-feather="file-text"></span>
                Help
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

      <!-- Account Settings Header 
      ================================================== -->
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
          <h1 class="h2">Change password</h1>
        </div>

      <!-- Modify Password
      ================================================== -->
        <form method = "post" action = "/modifyPassword">
          <div id="changePassword" class="form-group">
            <label for="oldPassword">Old password</label>
            <input type="text" class="form-control" name="oldPassword" autofocus required>
          </div>
          <div id="changePassword" class="form-group">
            <label for="inputAddress">New password</label>
            <input type="text" class="form-control" name="newPassword" required>
          </div>
          <div id="changePassword" class="form-group">
            <label for="inputAddress2">Confirm new password</label>
            <input type="text" class="form-control" name="newPassword2" required>
          </div> 

          <button type="submit" class="btn btn-primary">Change</button>
          <br>
          <a href="/forgot_password">Forgot password?</a>
        </form>

      <hr class="featurette-divider">

      </main>
    </div>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./Javascript/bootstrap.min.js"></script>
</body>
</html>
