<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <title>BuyNSell | Product</title>
        
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        
            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
        
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        
        <!-- Custom styles for this page -->
        <link href="./css/carousel.css" rel="stylesheet">
        
        <!-- Custom user panel and product recommendation blocks styles for this page -->
        <link href="./css/user-panel-product-recommend.css" rel="stylesheet">
    </head>
    <body>
        <!--Header-->
    	<header>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                <a class="navbar-brand" href="/"><img src="./img/logo_62px.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Shop by Category
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="category">All</a>
                                <a class="dropdown-item" href="category">Clothing</a>
                                <a class="dropdown-item" href="category">Electronics</a>
                                <a class="dropdown-item" href="category">Furnitures</a>
                                <a class="dropdown-item" href="category">Cars</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about">Contact</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav" id="logOut">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Log Out</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        
        <div style="margin-top: 100px"></div>

        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-6 text-left">
                    <div class="container">
                        <img src="img/confused_travolta.jpg" class="img-thumbnail">
                    </div>
                    
                </div>
                <div class="col-sm-6 text-left">
                    <div class="container">
                        <h3><% clicked_prod %></h3>
                        <p>Seller's Name Here</p>
                        <hr>
                        <p>Price: <span style="color: darkred; font-size: 30px">$cost</span></p>
                        <div class="container">
                            <button type="button" class="btn btn-warning">Dip!</button>
                            <button type="button" class="btn btn-primary">Contact Seller</button>
                            <button type="button" class="btn btn-danger">Like</button>
                        </div>
                        <p>Product Description:
                            <li>list0</li>
                            <li>list1</li>
                            <li>list2</li>
                            <li>list3</li>
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row content">
                <p>(Dummy) Suggested Categories</p>
                <div class="row content" style="margin: auto">
                    <div class="col-sm-1 text-center">
                        <button type="button" class="btn btn-default">&#60;</button>
                    </div>
                    <div class="col-sm-1 text-center">
                        <button type="button" class="btn btn-default">A</button>
                    </div>
                    <div class="col-sm-1 text-center">
                        <button type="button" class="btn btn-default">B</button>
                    </div>
                    <div class="col-sm-1 text-center">
                        <button type="button" class="btn btn-default">C</button>
                    </div>
                    <div class="col-sm-1 text-center">
                        <button type="button" class="btn btn-default">D</button>
                    </div>
                    <div class="col-sm-1 text-center">
                        <button type="button" class="btn btn-default">E</button>
                    </div>
                    <div class="col-sm-1 text-center">
                        <button type="button" class="btn btn-default">&#62;</button>
                    </div>
                </div>
            </div>
            <hr>
            <p>Uh.... What other contents should we put under here...?</p>

        </div>


        <!--Footer-->
        <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>BuyNSell &copy; 2019 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>

        <!-- Optional JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
